body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    color: white;
    font-family: Arial, sans-serif;
}

.chess-board {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
    gap: 0;
    position: relative;
}

.chess-board div {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.white {
    background-color: #f0d9b5;
}

.black {
    background-color: #b58863;
}

.chess-piece {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

#status {
    margin-top: 20px;
    font-size: 18px;
}

#checkmate {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
}

.hidden {
    display: none;
}

#checkmate h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

#checkmate button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

#checkmate button:hover {
    background-color: #555;
    color: white;
}

.in-check {
    border: 4px solid yellow;
}
